// $color-white: #ffffff;
// $color-black: #000000;
// $color-light-blue: #07d6f2;
// $color-blue: #1f2a63;
// $color-purple: #17002f;
// $color-yellow: #ffc107;
// $color-pink: #c956ff;
// $color-light-green: #cfdab0;
// $color-green: #73d677;
// $color-orange: #f28f16;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #4b4b4b;
  --color-light-grey: #f0f0f0;
  --color-light-blue: #07d6f2;
  --color-blue: #1f2a63;
  --color-purple: #17002f;
  --color-yellow: #ffc107;
  --color-pink: #c956ff;
  --color-light-green: #cfdab0;
  --color-green: #73d677;
  --color-orange: #f28f16;
}
